language: node_js
node_js:
  - '9'

deploy:
  provider: pages
  script: 'npm run build'
  skip-cleanup: true
  api_key: 'GITHUB OAUTH TOKEN' # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
